canvas {
    border: 1px solid #000000;
    display: block;
    margin: 20px auto;
    background-image: url("background.jpeg");
    background-size: cover;
    border-radius: 10px;
}

body {
    background-color: black;
}

.player {
    display: none;
}

.asteroid1 {
    display: none;
}
.asteroid2 {
    display: none;
}
.asteroid3 {
    display: none;
}
.hammer {
    display: none;
}
