canvas {
    border: 1px solid #000000;
    display: block;
    margin: 20px auto;
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: black;
}

.player {
    display: none;
}
