canvas {
    border: 1px solid #000000;
    display: block;
    margin: 20px auto;
    background-image: url("background.jpeg");
    background-size: cover;
    border-radius: 10px;
}

canvas:active {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

body {
    background-color: black;
}

.score {
    color:white;
    
}

.player {
    display: none;
}

.asteroid1 {
    display: none;
}
.asteroid2 {
    display: none;
}
.asteroid3 {
    display: none;
}
.hammer {
    display: none;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
